In [1]:
# DAY 6 ASSIGNMENT 1
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [2]:
#DAy 6 ASSIGNMENT 2
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

print("First 2 rows of the DataFrame:")
print(df.head(2))
print()

df['Bonus'] = df['Salary'] * 0.10

print("DataFrame with the Bonus column added:")
print(df)
print()

average_salary = df['Salary'].mean()
print(f"The average salary of employees is: {average_salary}")
print()

filtered_employees = df[df['Age'] > 25]
print("Employees who are older than 25:")
print(filtered_employees)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with the Bonus column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

The average salary of employees is: 47500.0

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

In [4]:
# DAY 7 ASSignment
import pandas as pd

df = pd.read_csv('Car_sales.csv')

print("First 5 rows of the dataset:")
print(df.head())

print("\nBasic statistics of the numerical columns:")
print(df.describe())

First 5 rows of the dataset:
  Manufacturer    Model  Sales_in_thousands  __year_resale_value Vehicle_type  \
0        Acura  Integra              16.919               16.360    Passenger
1        Acura       TL              39.384               19.875    Passenger
2        Acura       RL               8.588               29.725    Passenger
3         Audi       A4              20.397               22.255    Passenger
4         Audi       A6              18.780               23.555    Passenger

   Price_in_thousands  Engine_size  Horsepower  Wheelbase  Width  Length  \
0               21.50          1.8         140      101.2   67.3   172.4
1               28.40          3.2         225      108.1   70.3   192.9
2               42.00          3.5         210      114.6   71.4   196.6
3               23.99          1.8         150      102.6   68.2   178.0
4               33.95          2.8         200      108.7   76.1   192.0

   Curb_weight  Fuel_capacity  Fuel_efficiency Latest_Launch  \
0        2.639           13.2               28      2/2/2012
1        3.517           17.2               25      6/3/2011
2        3.850           18.0               22     3/10/2011
3        2.998           16.4               27     10/8/2011
4        3.561           18.5               22      8/9/2011

   Power_perf_factor
0          58.280150
1          91.370778
2          91.389779
3          62.777639
4          84.565105

Basic statistics of the numerical columns:
       Sales_in_thousands  __year_resale_value  Price_in_thousands  \
count          117.000000           117.000000          117.000000
mean            59.112316            18.031538           25.969487
std             75.058933            11.605632           14.149699
min              0.110000             5.160000            9.235000
25%             16.767000            11.240000           16.980000
50%             32.299000            14.010000           21.665000
75%             76.029000            19.875000           29.465000
max            540.561000            67.550000           82.600000

       Engine_size  Horsepower   Wheelbase       Width      Length  \
count   117.000000  117.000000  117.000000  117.000000  117.000000
mean      3.048718  181.282051  107.326496   71.189744  187.717949
std       1.055169   58.591786    8.050588    3.530151   13.849926
min       1.000000   55.000000   92.600000   62.600000  149.400000
25%       2.200000  140.000000  102.400000   68.500000  177.500000
50%       3.000000  175.000000  107.000000   70.400000  187.800000
75%       3.800000  210.000000  111.600000   73.600000  196.500000
max       8.000000  450.000000  138.700000   79.300000  224.500000

       Curb_weight  Fuel_capacity  Fuel_efficiency  Power_perf_factor
count   117.000000     117.000000       117.000000         117.000000
mean      3.324051      17.812821        24.119658          74.930921
std       0.597177       3.794609         4.404470          25.771796
min       1.895000      10.300000        15.000000          23.276272
25%       2.911000      15.300000        22.000000          55.297117
50%       3.340000      17.200000        24.000000          70.660942
75%       3.823000      19.800000        26.000000          85.828408
max       5.115000      32.000000        45.000000         188.144323